<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>v-model 数据源绑定</title>
    <script src="../assets/js/vue.js"></script>
</head>
<body>
    <!-- v-model 指令是用来双向数据绑定，就是 model 和 view 中的值进行同步变化 -->
    <!-- v-model 只能在 input/textarea/select使用 -->
    <h1>v-model 数据源绑定</h1>
    <hr>
    <div id="app">
        <p>原始文本信息：{{message}}-----</p>
        <h3>文本框</h3>
        <p>v-model: <input type="text" v-model="message"></p>
        <!-- v-model 的修饰符 -->
        <p>v-model.lazy 懒加载: <input type="text" v-model.lazy="message"></p>
        <p>v-model.number 数字（有局限性）: <input type="text" v-model.number="message"></p>
        <p>v-model.trim 去掉空格: <input type="text" v-model.trim="message"></p>
        <hr>
        <h3>文本域</h3>
        <p>
            <textarea cols="30" rows="10" v-model="msg"></textarea>
        </p>
        <h3>复选框绑定一个值</h3>
        <p>
            <input type="checkbox" id="isTrue" v-model="isTrue">
            <label for="isTrue">{{isTrue}}</label>
        </p>
        <hr>
        <h3>复选框绑定数组</h3>
        <p>
            <input type="checkbox" id="huibao" value="慧宝" v-model="isLove">
            <label for="isTrue">慧宝</label>
            <input type="checkbox" id="huier" value="慧儿" v-model="isLove">
            <label for="isTrue">慧儿</label>
            <input type="checkbox" id="baobao" value="宝宝" v-model="isLove">
            <label for="isTrue">宝宝</label>
        </p>
        <p>{{isLove}}</p>
        <hr>
        <h3>单选框绑定</h3>
        <p>
            <input type="radio" id="one" value="男" v-model="sex">
            <label for="one">男</label>
            <input type="radio" id="two" value="女" v-model="sex">
            <label for="two">女</label>
        </p>
        <p>你选择的性别是：{{sex}}</p>
    </div>

    <script>
        // 生成一个 Vue 实例
        let app = new Vue({
            el: '#app',
            data: {
                message: 'Hello World!',
                msg: 'can you speak Chinese?',
                isTrue: false,
                isLove: ['慧宝'],
                sex: '男'
            }
        })
    </script>
</body>
</html>