<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Vue2.0 双向数据绑定原理</title>
  </head>
<body>
  <div id="myapp">
    <input v-model="message" /><br>
    <span v-bind="message"></span>
    <hr />
    <h3>Vue2.0 与 Vue3.0 双向数据绑定区别</h3>
    <p style="color: red">vue2.0 Object.defineProperty()</p>
    <div style="color: brown;">
      <p>vue 实现数据双向绑定的原理就是用 Object.defineProperty() 重新定义（set 方法）对象设置属性值和（get 方法）获取属性值的操作来实现的</p>
      <p>Object.prototype() 方法的解释：Object.prototype(参数1, 参数2, 参数3) 返回值为该对象</p>
      <p>参数1：该对象本身；参数2：要定义活修改的对象的属性名；参数3：属性描述符，属性描述符是一个对象，主要有两种形式：数据描述符和存取描述符，但这两种对象只能选择一种使用，不能混合使用，而 get 和 set 属于存取描述符对象的属性</p>
      <p>Object.defineProperty() 方法会直接在一个对象上定义一个新属性或者修改对象上现有的属性，并返回该对象</p>
    </div>
    <p style="color: blue;">vue3.0 实现数据双向绑定的原理：Proxy</p>
    <a href="#"></a>
    <div>
      <p>Object.defineProperty() 的主要三个问题：</p>
      <ul style="color: brown;">
        <li>不能监听数组的变化</li>
        <li>必须遍历对象的每个属性</li>
        <li>必须深层遍历嵌套的对象</li>
      </ul>
      <p>Proxy 在 ES2015 规范中被正式加入，它有以下几个特点：</p>
      <ul style="color: blue">
        <li>针对对象：针对整个对象，而不是对象的某个属性，所以也就不需要对 keys 进行遍历，解决了 Object.defineProperty() 的第二个问题</li>
        <li>支持数组：Proxy 不需要对数组的方法进行重载，省去了众多的 hack，减少代码量等于减少了维护成本</li>
        <li>Proxy 的第二个参数可以有 13 种拦截方法，这比起 Object.defineProperty() 要更加丰富</li>
        <li>Proxy 作为新标准受到浏览器厂商的重点关注和性能优化，相比之下 Object.defineProperty() 是一个已有的老方法。</li>
      </ul>
    </div>
  </div>
  <script type="text/javascript">
    //vue实现数据双向绑定的原理就是用Object.defineproperty()重新定义（set方法）对象设置属性值和（get方法）获取属性值的操纵来实现的。
    //Object.property()方法的解释：Object.property(参数1，参数2，参数3)  返回值为该对象obj
    //其中参数1为该对象（obj），参数2为要定义或修改的对象的属性名，参数3为属性描述符，属性描述符是一个对象，主要有两种形式：数据描述符和存取描述符。这两种对象只能选择一种使用，不能混合使用。而get和set属于存取描述符对象的属性。
    //这个方法会直接在一个对象上定义一个新属性或者修改对象上的现有属性，并返回该对象。
    let model = {
      message: ""
    };
    let models = myapp.querySelectorAll("[v-model=message]");
    for (let i = 0; i < models.length; i++) {
        models[i].onkeyup = function() {
            model[this.getAttribute("v-model")] = this.value;
        }
    }
    // 观察者模式 / 钩子函数
    // defineProperty 来定义一个对象的某个属性
    Object.defineProperty(model, "message", {
        set: function(newValue) {
            let binds = myapp.querySelectorAll("[v-bind=message]");
            for (let i = 0; i < binds.length; i++) {
                binds[i].innerHTML = newValue;
            };
            let models = myapp.querySelectorAll("[v-model=message]");
            for (let i = 0; i < models.length; i++) {
                models[i].value = newValue;
            };
            this.value = newValue;
        },
        get: function() {
            return this.value;
        }
    })
  </script>
</body>
</html>

